@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Nixie+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  list-style-type: none;
  text-decoration: none;
  /* border: 1px solid red; */
  /* color: #2a2a2a; */
}

body{
  font-family: "Jost", sans-serif !important; 
  background-color: #fAFAFA !important;
}

.error{
  min-height: 70vh;
}

button{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: none !important;
}

.main-btn{
  background-color: #1f68F5;
  color: #fff;
  padding: 10px 1rem !important;

}


.hf{
  /* line-height: 80px; */
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "Nixie One", system-ui; 
}

.comp-header h4{
  font-size: 2rem;
  font-family: "Syncopate", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -3px;

}

.comp-header p {
  max-width: 490px;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

.muted{
  opacity: 0.7;
}

p{
  font-size: 14.9px !important;
}

a {
  font-size: 14px !important;
}

.container2{
  width: 90%;
  margin: 0 auto !important;
}



/* HEADER STYLES HERE */
.logo {
  width: 2rem;
}

.header ul li a{
  font-weight: 500;

}

.navbar{
  height: 64px;
}

.c-name{
  font-family: "Syncopate", sans-serif !important; 
  font-weight: 700;
}

.h-contact small{
  font-size: 11px;
}




/* HERO STYLES */
.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  /* color: #ffffff; */
}

.hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8e8d8d;
  background-blend-mode: multiply;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 2;
  padding: 20px;
}

.hero-title {
  font-size: 4.9rem;
  line-height: 80px;
  font-family: "Nixie One", system-ui;
  margin-bottom: 15px;
}

.hero-subtitle {
  font-family: "jost", system-ui;
  font-size: 1.2rem;
  max-width: 590px;
}


.hero-heading-text{
  position: relative;
  width: fit-content;
  z-index: 1;
  font-family: "Syncopate", sans-serif 
  
}

.hero-heading-text::after{
  position: absolute;
  content: "";
  left: 0;
  bottom: 3px;
  height: 7.9px;
  width: 100%;
  background-color:#4263A5;
  z-index: -1;
}




/* TESTIMONIALS STYLES */
.test-user-image{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.testimonial-card{
  min-height: 230px !important;
  padding: 1.7rem !important;
  border-radius: 8px;
  border: 1px solid #cccccc7e;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  overflow: hidden;
  background-color: #FAFAFA;
}

.test-user-image img{
  max-width: 100%;
  object-fit: cover;
}

.hf1{
  font-weight: bold;
  font-family: "Nixie One", system-ui;
}

/* .slick-slide>div {padding: 0 7px !important;} */

.slick-track{
  margin: 0 !important;
  padding: 0 !important;
  height: fit-content !important;
}


.slick-slide {
  transform: scale(0.9);
  transition: transform 0.5s ease-in-out;
}

.slick-center {
  transform: scale(1);
}



/* ======Offer STYLES====== */

.grid1{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.7rem;
}

.service-card{
  padding: 2rem !important;
  border-radius: 8px;
  border: 1px solid #cccccc7e;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  overflow: hidden;
  background-color: #FAFAFA;
}




.serv-image{
  width: 40px;
}

.offer-image-box{
  width: fit-content;
  background-color: #f9f9f9 !important;
}


/* INTRO STYLE */
.grid3{
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 1rem;
}




/* WHY US STYLES */
.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.why{
  background-color: #F5F8FF;
}

.why-card-image{
  width: 120px;
}

.middle{
  border: 1px solid #ccc;
}

.why-image{
  /* background-color: red; */
}


.why-image img{
  height: 100%;
  /* object-fit: cover; */
}





/* SERVICES STYLES */
.grid4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}



.serv-card-image{
  width: 20px;
}

.line{
  position: relative;
  /* width: 40%; */
  margin: 0;

}

.s-image{
  width: 30px;
}

.serv-card-header{
  width:70%;
  display: inline-block;

}

.line::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #111111;
}

.img-box{
  padding: 10px !important;
  background-color: #fAFAFA;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}



/* MISSION STYLES */
.mission-header{
  width: 7rem;
  border-radius: 50%;
  height: 7rem;
  background-color: #ffffff;
  position: relative;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  border: 1px solid #cccccc7e;
  
}

.number{
  position: absolute;
  top: 0.7rem;
  right: -8px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #111111;
  color: #ffffff;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.mission-card h4, .number{
  letter-spacing: -2px;
  font-family: "Syncopate", sans-serif;
  text-transform: uppercase;
}


/* STATISTICSS STYLES */
.statistics{
  background-image: url("../public//Images/intro.jpg");
  min-height: 490px;
  background-color: #515050;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

.grid7{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}



.stat{
  color: #ffffff;
  text-align: center;
}

.stat h1{
  
  font-family: "Syncopate", sans-serif;
}







/* =========FOOTER STYLES========= */
.grid{
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 2rem !important;
  
  /* justify-items: last baseline; */
  justify-content: space-between;
}


.footer-right {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr); 
}

.footer-right ul h6{
  letter-spacing: -1px;
  font-family: "Syncopate", sans-serif;
}

.footer li {

  width: 100% !important;
}

.footer{
  background-color: #111111 !important;
}

.social{
  z-index: -1;
}




/* FAQ STYLES */
.equal-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}


.faq-btn{
  background-color: transparent !important;
  padding: 10px !important;
}

@media (max-width: 1024px){
  .slick-slide {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
  }

  .slick-slide>div {padding: 0 7px !important;}
}


@media (max-width: 840px){
  .grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem !important;
    
    /* justify-items: last baseline; */
    /* justify-content: space-between; */
  }
  
}




@media (max-width: 768px) {
  .hero-title {
    font-size: 2.7rem;
    line-height: 3rem;
  }

  .grid4{
    grid-template-columns:1fr;
  }

  .grid7{
    grid-template-columns: 1fr 1fr;
  }
  

  .hero-container {
    position: relative;
    width: 100%;
    height: 590px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
  }

  .container2{
    width: 95%;
  }

  .grid2{
    grid-template-columns: 1fr 1fr;
  }
  .grid3{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .equal-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  
}


@media (max-width: 676px) {
  .grid{
    grid-template-columns: 1fr;
  }

  .stat h2{
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .grid2{
    grid-template-columns: 1fr;
    /* grid-gap: 1rem; */
  }

  .footer-right{
    grid-template-columns: 1fr 1fr;
  }
}